<div class="cart-container">
  <div class="cart-panel">
    <div class="cart-item" *ngFor="let product of cartProducts">
      <img src="{{ product.url }}" alt="{{ product.name }}">
      <div class="cart-item-details">
        <p>{{ product.name }}</p>
        <p>${{ product.price }}</p>
        <input type="number" name="quantity" [(ngModel)]="product.quantity" (change)="updateCart(product)">
      </div>
    </div>
    <h3>Total: ${{ total.toFixed(2) }}</h3>
  </div>
  <div class="form-margin">
    <form (ngSubmit)="onSubmit()">
      <label>Full Name</label>
      <br>
      <input type="text" placeholder="Enter your full name..." (ngModel)="name">
      <br>
      <label>Address</label>
      <br>
      <input type="text" placeholder="Enter your address...">
      <br>
      <label>Credit Card Number</label>
      <br>
      <input type="text" placeholder="Credit card number...">
      <input type="submit" value="submit">
    </form>
  </div>
</div>